<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Shortnr is a simple URL shortener.">
    <meta name="author" content="Shortnr">
    <meta name="keywords" content="shortnr, url, shortener, shorten, link, short, tiny, tinyurl, tinyurl.com, bitly, bit.ly, goo.gl, google, shortening, shortening service, shortening services, shortening website, shortening websites, shortening site, shortening sites, shortening link, shortening links, shortening url, shortening urls, shortening service website, shortening service websites, shortening service site, shortening service sites, shortening service link, shortening service links, shortening service url, shortening service urls, shortening services website, shortening services websites, shortening services site, shortening services sites, shortening services link, shortening services links, shortening services url, shortening services urls, shortening website website, shortening website websites, shortening website site, shortening website sites, shortening website link, shortening website links, shortening website url, shortening website urls, shortening websites website, shortening websites websites, shortening websites site, shortening websites sites, shortening websites link, shortening websites links, shortening websites url, shortening websites urls, shortening site website, shortening site websites, shortening site site, shortening site sites, shortening site link, shortening site links, shortening site url, shortening site urls, shortening sites website, shortening sites websites, shortening sites site, shortening sites sites, shortening sites link, shortening sites links, shortening sites url, shortening sites urls, shortening link website, shortening link websites, shortening link site, shortening link sites, shortening link link, shortening link links, shortening link url, shortening link urls, shortening links website, shortening links websites, shortening links site, shortening links sites, shortening links link, shortening links links, shortening links url, shortening links urls, shortening url website, shortening url websites, shortening url site, shortening url sites, shortening url link, shortening url links, shortening url url, shortening url urls, shortening urls website, shortening urls websites, shortening urls site, shortening urls sites, shortening urls link, shortening urls links, shortening urls url, shortening urls urls, shortening service website website, shortening service website websites, short">
    <meta name="robots" content="index, no-follow">

    <!-- define application icons -->
    <link rel="icon" type="image/png" href="images/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="images/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="images/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="images/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="images/android-chrome-512x512.png" sizes="512x512">

    <!-- define application icons for apple devices -->
    <link rel="apple-touch-icon" type="image/png" href="images/apple-touch.png" sizes="180x180" >

    <!-- define android application icons -->
    <link rel="android" type="image/png" href="images/android-chrome-192x192.png" sizes="192x192">
    <link rel="android" type="image/png" href="images/android-chrome-512x512.png" sizes="512x512">

    <!-- define application theme -->
    <meta name="theme-color" content="#ffffff">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="images/favicon-144x144.png">

    <title>{{title}}</title>
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css">
    <link href="/css/styles.css" rel="stylesheet">

    {{{block 'head'}}}
  </head>

  <body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="main-container">
          {{{body}}}
        </div>
      </div>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/js/all.min.js" data-auto-replace-svg="nest"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
    <script src="/assets/javascript/config.js"></script>
    <script src="/assets/javascript/scripts.js"></script>

    <script>
      $(function() {
        toastr.options = {
          "escapeHtml": true,
          "closeButton": true,
          "debug": false,
          "newestOnTop": false,
          "progressBar": false,
          "positionClass": "toast-top-center",
          "preventDuplicates": true,
          "showDuration": "300",
          "hideDuration": "5000",
          "timeOut": "10000",
          "extendedTimeOut": "1000",
          "showEasing": "swing",
          "hideEasing": "linear",
          "showMethod": "fadeIn",
          "hideMethod": "fadeOut"
        };
      {{#if message}}
        {{#each message}}
        toastr["error"]("{{this}}");
        {{/each}}
      {{/if}}
      });
    </script>

    {{{block 'scripts'}}}
  </body>
</html>